* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #121213;
    color: #ddd;
    padding: 1rem;
}